services:
  app:
    build:
      context: .
      target: emargement  #notification
    shm_size: 2g
    volumes:
      - ./app/:/app/
    environment:
      - FORMATION=X
      - ANNEE=X
      - TP=X
      - Us=USER
      - Pa=PASS
      - blacklist=Entrainement Le Robert, Activités HACK2G2, Activités GCC, Séminaire Facteur Humain
      - TOPIC=XXXXXXXXXXX
      - TZ=Europe/Paris
    restart: unless-stopped
